<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot = "start">
      <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
      Back
    </ion-button>
    <ion-button slot = "end">
      <ion-icon size="large" name="log-out"></ion-icon>
      Logout
    </ion-button>
    <ion-title class="ion-text-center">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-row>
  <ion-col></ion-col>
  <ion-col>
    <ion-button>
      <ion-icon size="large" ios="ios-contact"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button>
      <ion-icon size="large" name="logo-twitter"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button>
      <ion-icon size="large" name="logo-linkedin"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button>
      <ion-icon size="large" name="logo-github"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button>
      <ion-icon size="large" name="logo-instagram"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button>
      <ion-icon size="large" name="information-circle"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button>
      <ion-icon size="large" name="document"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>

</ion-content>
