<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Rolodex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar #userSearchBar (ionInput)="searchRolodex($event)"  (ionCancel)="onCancel($event)" showClearButton="always" show-cancel-button="always" debounce="500" ></ion-searchbar>

<!-- this.connectionList" -->

  <app-connection-card *ngFor="let connection of this.connectionListCopy; let i = index" [attr.data-index]="i"
                       [user]="connection" [index]="i"
  >{{i}}</app-connection-card>

</ion-content>
