<ion-header>
  <ion-toolbar>
    <ion-title>Hollar - Forgot Password?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="requestResetLink()" [formGroup]="forgotPassword">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="(email.dirty || email.touched) && email.errors">
      <span *ngIf="email.errors?.required">Email is required</span>
      <span *ngIf="email.errors?.email">Email is invalid</span>
    </div>
    <ion-button type="submit" expand="block" [disabled]="!forgotPassword.valid">Request Reset Link</ion-button>
  </form>

</ion-content>
