
<ion-item href="tabs/tab3">
  <ion-avatar slot="start">
    <img src="assets/icon/profilePicPlaceholder.png">
  </ion-avatar>
  <ion-label color="secondary">
    <h1>{{ name }}</h1>
    <h2 slot="start">UW-Madison - {{ email }} - {{ phoneNumber }}</h2>
    <p>
      Hello! This is my short summary/description of me and my projects. I am currently studying CS at UW-Madison. <br> Contact me at ..........@wisc.edu!
      <br> Also check out my socials, github, and work experience on my profile!
    </p>
  </ion-label>
</ion-item>

<!--<ion-card type="button">-->
<!--  <ion-item href="tabs/tab3">-->
<!--    <ion-avatar src="" slot="start"></ion-avatar>-->
<!--    <ion-card-title size="large" slot="start">{{ name }}</ion-card-title>-->
<!--    <ion-card-subtitle>UW-Madison </ion-card-subtitle>-->
<!--  </ion-item>-->
<!--  <ion-card-content>-->
<!--    Hey! My name is John and I am studying CS at UW-Madison. Contact me at johndoe@wisc.edu!-->
<!--  </ion-card-content>-->
<!--</ion-card>-->
