<ion-header>
  <ion-toolbar>
    <ion-button slot = "start" color="light" (click)="cancel()">
      Cancel
    </ion-button>
    <ion-title>Customize Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveUpdatedUserPage()" [formGroup]="customizeProfileForm">
    <ion-item>
      <ion-label position="floating">Job</ion-label>
      <ion-input type="text" formControlName="job" value="{{this.currentUser.job}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Company</ion-label>
      <ion-input type="text" formControlName="company" value="{{this.currentUser.company}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Industry</ion-label>
      <ion-input type="text" formControlName="industry" value="{{this.currentUser.industry}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="tel" formControlName="phonenumber" value="{{this.currentUser.phoneNumber}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">GitHub Username</ion-label>
      <ion-input type="text" formControlName="github" value="{{this.currentUser.linkedAccounts.github}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">LinkedIn Username</ion-label>
      <ion-input type="text" formControlName="linkedin" value="[{{this.currentUser.linkedAccounts.linkedin}}]"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Instagram Username</ion-label>
      <ion-input type="text" formControlName="instagram" value="{{this.currentUser.linkedAccounts.instagram}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Twitter Username</ion-label>
      <ion-input type="text" formControlName="twitter" value="{{this.currentUser.linkedAccounts.twitter}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Personal Website</ion-label>
      <ion-input type="url" formControlName="personalwebsite" value="{{this.currentUser.linkedAccounts.personalWebsite}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Additional URLs</ion-label>
      <ion-input type="url" formControlName="additionalURLs" value="[{{this.currentUser.linkedAccounts.additionalURLs}}]"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" (click)="saveUpdatedUserPage()">Save Profile Changes</ion-button>
  </form>
</ion-content>
